.row-color{
    background-color: #f3f6f9;
    width: 90%!important;
}
.row-width{
    width: 90%!important;
}

.text-size{
    font-size: 10px;
    
}
.text-size1{
    font-size: 12px;
    
}
.text-size2{
    font-size: 14px;
    
}
.ak{
    height: 10%!important;
}